<% layout("/layouts/boilerplate") %>
<body>
    <h3>All Items</h3>
  <!--  <form method="GET" action="/items/new">
        <button>Create New Item</button>
    </form>
    <ul>-->
      <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1">
        <% for (let item of allitems) {%>
          <a href="/items/<%= item._id %>" class="item-link">
        <div class="card col" >
          <img src="<%= item.image.url %>" class="card-img-top" alt="item_image" style="height: 20rem;">
          <div class="card-img-overlay">abcd</div>
          <div class="card-body">
            <p class="card-text">
               <b><%= item.title %></b> <br>
              &#8377;<%= item.price.toLocaleString("en-IN") %>/-
            </p>
            
          </div>
        </div>
      </a>
        <%  }%>
      </div>
      <!--
        <% for (let item of allitems) {%>
        <li><a href="/items/<%= item._id %>"> <%= item.title %></a></li>
        <li><a href="/items/<%= item._id %>"> <%= item.title %></a></li>
       
       
      <%  }%>
    </ul>
    -->
</body>
